@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-margin-top: 80px;
}

body {
  @apply text-black-main;
}

.badge-navbar-1 {
  @apply mx-4 cursor-pointer px-2 py-1 hover:rounded-lg hover:bg-orange-main hover:text-white;
}

.badge-navbar-2 {
  @apply cursor-pointer border-b border-gray-200 px-2 py-3 text-xl hover:rounded-lg hover:bg-orange-main hover:text-white;
}

.contact-input {
  @apply rounded-sm border border-orange-secondary bg-white px-6 py-4 text-black-main placeholder-gray-400 outline-none transition-all hover:border-orange-main focus:border-orange-main focus:text-orange-main;
}

.button-main {
  @apply flex h-11 flex-shrink-0 items-center justify-center rounded-md bg-orange-main py-2 text-lg font-medium text-white hover:opacity-80 disabled:cursor-not-allowed disabled:bg-[#cccccc] disabled:font-normal disabled:text-[#666666] disabled:opacity-30;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.image-container {
  position: relative;
}

.image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

.bg-products-1 {
  @apply bg-[url('assets/images/leaf-pattern-1.png')] bg-contain bg-no-repeat;
  background-position: bottom left;
}

.bg-products-2 {
  @apply bg-contain bg-no-repeat md:bg-[url('assets/images/leaf-pattern-2.png')];
  background-position: right;
}

.shadow-footer {
  --tw-shadow: 0px -1px 2px rgba(16, 24, 40, 0.05);
  --tw-shadow-colored: 0px -1px 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
